<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="" />
</head>
<body>
	<h1 layout:fragment="header">Catálogo de forrageiras<small>Website criado para gerar um catálogo com informações mínimas sobre essas plantas</small></h1>
	<div layout:fragment="content" class="container">
	 <div class="jumbotron">
		<a th:href="@{/forrageiras/}" class="btn btn-lg btn-info">Começar</a>
	 </div>
	</div>
</body>
</html>