<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content"
		class="container-fluid d-flex flex-column justify-content-center align-items-center background-index index">
		<h1>Catálogo de forrageiras</h1>
		<h6>Website criado para gerar um catálogo com informações mínimas
			sobre essas plantas</h6>
		<div class="jumbotron mt-4">
			<a th:href="@{/forrageiras/}" class="btn btn-dark btn-lg border-white">Começar</a>
		</div>
	</div>
</body>
</html>